@use "_partial/variables" as *;
@use "_partial/main";
@use "_partial/header";
@use "_partial/post";
@use "_partial/_widgets/profile";
@use "_partial/_widgets/music";
@use "_partial/archive";
@use "_partial/footer";
@use "_partial/markdown";
@use "_partial/responsive";