@media screen and (max-width: 768px) {
    * {
        -webkit-tap-highlight-color: transparent;
    }
    .main-layout {
        display: block;
    }
    header {
        border-radius: 0;
    }
    nav {
        margin-left: 0;
        left: 0;
    }
    .nav-links li a {
        padding: 0 10px;
    }

    .mobile-menu-btn {
        position: fixed;
        top: 100px;
        left: 0;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        font-size: 18px;
        cursor: pointer;
        border-radius: 0 15px 15px 0;
        overflow: hidden;
        margin: 10px 0;
    }

    .mobile-menu-btn::after {
        border-radius: inherit;
    }

    .menu-icon {
        z-index: 12;
    }

    aside {
        position: fixed;
        top: 0;
        left: 0;
        width: 260px;
        height: 100vh;
        background-image: var(--bg-image);
        background-size: cover;
        z-index: 100;
        padding: 20px;
        overflow-y: auto;
        box-shadow: 2px 0 8px rgba(0,0,0,0.15);
        
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }
    aside.open {
        transform: translateX(0);
    }

    .sidebar-mask {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
    }

    .sidebar-mask.open {
        opacity: 1;
        visibility: visible;
    }

    .post-item {
        flex-direction: column;
        gap: 0;
    }

    .post-cover {
        width: 100%;
    }
}